body {
  padding: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(Снимок экрана 2023-09-27 214122.png)
      center/cover fixed;
}
a{
color: red;
}

a:hover{
text-decoration: underline;
  font-weight: 700;
cursor: pointer;
}
