body {
  padding: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(https://playandroidmod.com/uploads/posts/2020-06/1592141233_zombix-online_4.jpg)
      center/cover fixed;
}
a{
color: red;
}

a:hover{
text-decoration: underline;
  font-weight: 700;
cursor: pointer;
}
