button {
    width: 8rem;
    width: 8rem;
    background-color: cadetblue;
    color: darkred;
    transition: 0.1s;
}

button:active {
    transform: scale(0.9);
}
p{
    font-size: 1.5rem;
}
a{
    font-size: 2rem;
}
#check{
    background-color: aqua;
    color: blueviolet;
}
body{
    padding: 20px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
    ),
    url(images/background.jpg) center/cover fixed;
}
#rightAnswers{
    color: crimson;
}
